<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Bowling League</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    @* top navigation bar *@
    <div class="bg-dark text-white p-2">
        <div class="container-fluid">
            <div class="row ml-5">
                <a class="navbar-brand text-light" asp-area="" asp-controller="Home" asp-action="Index" asp-route-teamid="">Bowling League</a>
                <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index" asp-route-teamid="">Home</a>
            </div>
        </div>
    </div>
    <br />
    <div class="container mt-2">
        <div class="row">
            @* side navigation bar *@
            <div class="col-2">
                <vc:team />
            </div>
            @* main body *@
            <div class="col-10">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>

        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
